/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1.5;
  }
  
  header {
    background-color: black;
    color: rgb(252, 0, 138);
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: hsl(308, 88%, 43%);
    font: bold

  }
  
  section {
    padding: 40px;
  }
  
  .project {
    border: 1px solid #f89de1;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color:  black;
    color: hsl(308, 88%, 43%);
    font: bold
  }